<html lang="de" ng-app="pawApp">
<head >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>{{title}}</title>
  <link type="text/css" href="style.css" rel="stylesheet">
</head>

<body ng-cloak ng-controller="pawController">
<md-content>
  <md-menu-bar flex="100" layout="row">
    <md-menu ng-repeat="link in links">
      <button ng-click="$mdMenu.open()">
        {{ link.title }}
      </button>
      <md-menu-content ng-hide="!link.step">
        <md-menu-item type="checkbox" ng-model="settings.allowChanges">{{ link.step }}</md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-checkbox class="checkBoxTop" ng-model="showDarkTheme">DarkMode</md-checkbox>
  </md-menu-bar>
</md-content>

<md-content layout-xs="column" layout="row" flex layout-wrap>
  <div ng-repeat="box in boxes" class="fade md-padding" flex="33" flex-xs="50">
    <app-box info="box"></app-box>
  </div>
</md-content>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<!-- Modules -->
<script src="app.js"></script>

<!-- Services
<script src="services/pawServices.js"></script> -->

<!-- Angular Controller -->
<script src="controllers/pawController.js"></script>

<!-- Angular Directives -->
<script src="directives/pawBoxes.js"></script>
</body>
</html>
